src/*.exe
src/electron-cli
src/electron-tx
src/electrond
src/test_bitcoin
src/qt/locale/*.ts
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.electron
*.ts
*.d.ts
.ts

# Compilation and Qt preprocessor part
*.qm
Makefile
electron-qt
Electron-Qt.app

# Unit-tests
Makefile.test
electron-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build
!src/leveldb*/Makefile
!depends/Makefile
!depends/patches/**

# Build outputs (created by build.sh)
outputs/
.cache/bdb/

# macOS SDK (Apple license — not redistributable)
docker/sdk/*.sdk.tar.*
